extends layout

block content
  h1= title
  h2 Loaded CQL libraries
  table
    thead
      tr
        th Name
        th Version
        th Endpoint
    tbody
      each lib in libraries
        tr
          td #{lib.source.library.identifier.id}
          td #{lib.source.library.identifier.version}
          - var ep = `${req.baseUrl}/api/library/${lib.source.library.identifier.id}/version/${lib.source.library.identifier.version}`;
          td: a(href=ep) #{ep}
  |
  each lib in libraries
    h2 #{lib.source.library.identifier.id} v#{lib.source.library.identifier.version}
    h3 Returnable Expressions
    ul
      each name in expressions[`${lib.source.library.identifier.id}.${lib.source.library.identifier.version}`]
        li #{name}
      else
        li n/a
